.display-card {
  /* height: auto; */
  width: auto;
  background-color: transparent;
  font-size: 1.2rem;
}
.social-icons {
  margin: auto;
  padding: 10px;
  width: 100%;
  text-align: center;
}
.btn-primary {
  background-color: transparent;
  border-color: white;
  margin: 0 2px 0;
  color: black;
}

@media only screen and (max-width: 768) {
  .card {
    width: auto;
    margin-left: 0;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .card {
    width: auto;
    margin-left: 0;
  }
}
